.account-dashboard {
  border-radius: 10px;
  padding: 10px 10px;
  height: 100%;
  width: 100%;
  color: var(--color-1);
  position: relative;
}
.account-dashboard p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
  font-size: 0.8rem;
}
.account-dashboard:first-child {
  background: var(--linear-gradient);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  grid-row: 1/3;
}
.account-dashboard:first-child p {
  position: static;
}
.account-dashboard:nth-child(2) {
  background-color: var(--orange);
}
.account-dashboard:nth-child(3) {
  background-color: var(--purple);
}
.account-dashboard:nth-child(4) {
  background-color: var(--light-blue);
}
.account-dashboard-container {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 200px;
}
.dashboard-account-content {
  display: block;
  width: 90%;
}
.copy {
  position: absolute;
  top: 20px;
  right: 20px;
}
.account-dashboard li {
  font-size: 0.7rem;
  font-weight: 300;
}
.account-dashboard > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}
.account-dashboard > div h3 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
}
.account-dashboard > div p {
  margin: 0;
  font-size: 0.7rem;
}
.account-title-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.account-title {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 0.8rem;
  color: var(--color-8);
}
.account-title .img-container {
  width: 25px;
  height: 25px;
}
.account-btns {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.account-btn {
  width: 100%;
  color: var(--color-8);
  padding: 15px 10px;
  background-color: inherit;
  border-radius: 3px;
  border: 1px solid var(--color-8);
}
.active-account-btn {
  background-color: var(--color-8);
  color: var(--color-1);
}
.account-title-container .account-btn {
  padding: 12px 10px;
}
.account-info form {
  margin: 0 auto;
  width: 45%;
}
.account-info form h4 {
  text-align: center;
}
.account-info label {
  font-size: 0.8rem;
}
.form-input {
  background-color: var(--color-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid var(--color-8);
}
.form-input input {
  padding: 10px 5px;
  border: 0;
  background-color: inherit;
  color: #000;
}
.form-input i {
  color: var(--color-8);
}
.account-info form button {
  padding: 8px 15px;
  margin: 10px auto;
  display: flex;
  border: 1px solid var(--color-8);
  color: var(--color-8);
  border-radius: 3px;
}
.account-infos {
  position: relative;
}
.account-info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.active-info {
  visibility: visible;
}
@media (hover: hover) {
  .account-title-container:hover .account-btn {
    padding: 12px 10px;
    background-color: var(--color-8);
    color: var(--color-1);
    transition: 0.3s ease-in-out;
  }
}
